<section class="about text-center" id="about">
      <div class="container">
        <div class="row">
          <br>
          <br>
          <br>

          <h2>Editar Andamento</h2>

            <div class="single-about-detail clearfix">
              <div class="about-img"> <br>
              </div>
              <div class="about-details">
                <div class="pentagon-text">
                  <h1></h1>
                </div>
                <h3 style="height: 46px;">Área Restrita precisa logar...</h3>
                <p style="width: 294px;">


                  <table border="1"; align=center>
                      <tr>
                        <td align=right>


                          <%= render 'form', andamento: @andamento %>

                          <%= link_to 'Show', @andamento %> |
                          <%= link_to 'Back', andamentos_path %>





                        </td>
                        </tr>

                    </table>





                </p>
            </div>
          </div>

          </div>
        </div>
      </div>
    </section>
